.head{
	width: 100%;
	height: 80px;
	background: $black;
	@media all and (max-width: 960px){
		height: 50px;
		position: fixed;
		top: 0;
	}
	.contain{
		@include flexbetween();
	}
	&__logo{
		width: 45px;
		height: 50px;
		background: url($images_dir + 'logo_nofront_mobile.png') no-repeat left center;
		@media all and (min-width: 960px){
			width: 165px;
			height: 80px;
			background: url($images_dir + 'logo_nofront.png') no-repeat left center;
		}
	}
	&__menu{
		@media all and (max-width: 960px){
			height: 0;
			overflow: hidden;
			width: 100%;
			position: absolute;
			top: 50px;
			background: #ccc;
			transition: all 0.3s ease;,0
			&--open{
				height: 240px;
			}
		}
		@media all and (min-width: 960px){
			li{float: left;}
		}
		a{
			display: block;
			color: #fff;
			line-height: 40px;
			padding: 0 10px;
			text-decoration: none;
			@media all and (min-width: 960px){
				line-height: 80px;
				padding: 0 20px;
			}
		}
	}
	&__contacts{
		color: #fff;
	}
	&__mobileBtn{
		width: 50px;
		height: 50px;
		position: relative;
		cursor: pointer;
		span{
			display: block;
			width: 60%;
			height: 60%;
			position: absolute;
			top: 20%;
			left: 20%;
			border: 1px solid #ccc;
		}
	}
}