*{
	box-sizing: border-box;
}
body,html{
	min-height: 100vh;
}
body{
	font-family: 'AvenirNextCyr';
}
img{
	display: block;
	max-width: 100%;
}
.all_wrap{
	min-height: 100vh;
	padding-bottom: 100px; // footer height
	@media all and (max-width: 960px){
		padding-top: 50px;
	}
}