.custom-scroll_container {
	overflow: hidden !important;
	position: relative;
}

.custom-scroll_inner {
	will-change: transform; 
	overflow: scroll;
	height: 100%;
	*position: absolute; /* ie7 fix */
	*left: 0;
	*right: 0;
}
.custom-scroll_inner::-webkit-scrollbar { width: 0; height: 0; }
.custom-scroll_inner{ -ms-overflow-style: none; }


.custom-scroll_bar-y,
.custom-scroll_bar-x {
	cursor: pointer;
	position: absolute;
	border-radius: 1px;
	z-index: 1;
	background: #888;
	opacity: .4;
	user-select: none;
	transition: opacity .2s;
}
.custom-scroll_bar-y {
	top: 0;
	right: 12px;
	width: 3px;
}
.custom-scroll_bar-x {
	left: 0;
	bottom: 1px;
	height: 8px;
}

.custom-scroll_bar-y:hover,
.custom-scroll_bar-x:hover {
	opacity: .7;
}
.custom-scroll_bar-y:active,
.custom-scroll_bar-x:active {
	opacity: 1;
}

.custom-scroll_hidden-y > .custom-scroll_bar-y,
.custom-scroll_hidden-x > .custom-scroll_bar-x {
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s, visibility step-end .3s;
}