@font-face {
	font-family: 'AvenirNextCyr'; /* Имя шрифта */
	src: url($fonts_dir + 'AvenirNextCyr/AvenirNextCyr-Regular.otf');
}
@font-face {
	font-family: 'AvenirNextCyr'; /* Имя шрифта */
	src: url($fonts_dir + 'AvenirNextCyr/AvenirNextCyr-Medium.otf');
	font-weight: 600;
}
@font-face {
	font-family: 'AvenirNextCyr'; /* Имя шрифта */
	src: url($fonts_dir + 'AvenirNextCyr/AvenirNextCyr-Bold.otf');
	font-weight: bold;
}